{% extends 'base.html.twig' %}
{% block body %}



    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                {% for r in recipe %}
                <div class="post-preview">

                    <a href="{{ path('recipe_show',{'id': r.id}) }}">
                        <h2 class="post-title">{{ r.Name }}</h2>
                        <h3 class="post-subtitle">{{ r.machine }}</h3>
                    </a>
                    <p class="post-meta">
                        Publié le: {{ r.createdDate | date("d/m/y", "Europe/Paris")}}
                    </p>
                </div>
                <!-- Divider-->

                <hr class="my-4"/>
                {% endfor %}
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">
                        Toutes les recettes</a></div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}



{% endblock %}